

body{
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box1{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
    margin: 0;
    width: 100%;
    min-width: 1024px;
    height: 48px;
    max-height: 44px;
    font-size: 17px;
}

.black-background{
    background-color:rgba(0, 0, 0, 0.8);
}

a.head{
    color:rgb(81,81,84);
    padding-left: 120px;
}

.apple{
    width: 30px;
    height: 30px;
    padding-right: 50px;
}

.small-text{
    font-size: 16px;
    margin-top: 60px;
}

.p-orange{
    color: coral;
    font-size: 16px;
    margin-bottom: 0;
}

h1{
    font-size: 85px ;
    font-weight: 640 ;
    line-height: 1.07143;
    margin-top: 0;
    margin-bottom: 0;
}

h2{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

a{
    text-decoration: none;
    color:rgb(0, 113, 227)
}

h3{
    font-weight: 700;
    font-size: 20px;
    padding-top:48px ;
    margin-bottom: 0;
    margin-top: 0px;
}

h4{
    font-size: 50px;
    font-weight: 645;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
}

h5{
    font-weight: 700;
    font-size: 20px;
    padding-top:60px ;
    margin-bottom: 0;
    margin-top: 0;
}

.button {
    display: inline-block;
    font-size: 17px;
    line-height: 1;
    font-weight: 400;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 18px;
    background: #0071e3;
    color: #fff;
}

h6{
    font-size: 50px;
    font-weight: 645;
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.Descripcion{
    font-weight: 400;
    padding-left: 100px;
    padding-right: 100px;
}

.box{
    width: 588px ;
    height: 583px ;
    display: inline-block;
    padding-bottom: 106px;
    padding-top: 10px;
    margin-left: 30px;
}

.grey-background{
    background-color:rgb(242, 242, 242) ;
}

.Macbook{
    padding-bottom: 150px;
    padding-top: 50px;
}

.Tools{
    width: 588px;
    height: 250px;
    padding-top: 100px;
}

.laptop{
    width: 450px;
    height: 250px;
    padding-top: 42px;
}

.box-white-background{
    margin-bottom: 60px;  
}

.caja{
    padding-top: 100px;
}
 
.entrega{
    font-weight: 700;
}

.envio{
    margin-bottom: 0px;
    margin-top: 0px;
}

a.foot{
    color:rgb(81,81,84);
    padding-left: 120px;
}
 